/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "arial","Architects Daughter", cursive;
}

/* Home Page */
.nav-btn {
  width: 100px;
  height: 30px;

  a {
    text-decoration: none;
  }
}

//Friends Page
.friends {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    color: #333;
  }

  button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #e6eaef;
    color: #0c0c0c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #aaaeb3;
  }
}

.infoFriend {
  div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

  h3 {
    font-size: 18px;
  }

  ul {
    list-style: none;
  }

  ul li {
    text-align: center;
    margin-bottom: 5px;
  }
}

.filterFriends {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
  }

  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  select,
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
}

.sortFriends {
  text-align: center;
  margin-bottom: 20px;

  button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #e6eaef;
    color: #0c0c0c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #aaaeb3;
  }
}
.task-page {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  select:hover {
    cursor: pointer;
  }
  background-color: rgba(194, 176, 160, 0.379);
  padding-bottom: 50px;

  /* Tasks Component */
  .tasks {
    // background-image: url("../images/Image.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    // .show-more {
    //   // visibility: hidden;
    //   display: block;
    // }
    // .hide {
    //   display: none;
    // }
    .todos-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // background-color: aqua;
      width: 30%;
      max-width: 1000px;
    }
    .task-wrapper.cursor:hover {
      cursor: auto;
    }
    .task-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      border: 2px solid black;
      border-radius: 10px;
      width: 600px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      background-color: rgb(230, 201, 173);
      &:hover {
        cursor: pointer;
      }

      &:nth-child(odd) {
        background-color: lightblue;
      }
      .edit-save-wrapper {
        button {
          height: 50px;
        }
      }
      .remove-icon {
        position: absolute !important;
        top: 15px;
        right: 15px;
        height: 80px;
        img {
          height: 40px;
          &:hover {
            cursor: pointer;
            animation: mymove 1s ease-in-out;
          }
        }
        @keyframes mymove {
          0% {
            transform: rotate(20deg);
          }
          20% {
            transform: rotate(-20deg);
          }
          40% {
            transform: rotate(20deg);
          }
          60% {
            transform: rotate(-20deg);
          }
          80% {
            transform: rotate(20deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
        // right: 0;
      }
      div {
        margin-bottom: 10px;
      }
    }
    .filter-sort-wrapper {
      display: flex;
      flex-direction: row;
      width: 400px;
      > :nth-child(2) {
        margin-left: 30px;
      }

      select {
        width: 200px;
        margin: 0px;
      }
    }

    button,
    select {
      border-radius: 10px;
      min-width: 80px;
      // min-height: 20px;
      z-index: 2;

      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      padding: 5px;
      display: inline-block;
    }
    button {
      margin: 10px;
    }
    select {
      width: 250px;
      height: 50px;
    }
  }

  // /* Media Query */
  // @media screen and (max-width: 380px) {
  //   .new-task .task-form {
  //     height: 150px;
  //   }

  //   .tasks h1 {
  //     padding-top: 0px;
  //   }
  // }

  /* NewTask Component */
  .new-task {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Architects Daughter", cursive;
    }

    width: 30%;
    max-width: 1000px;
    margin: 0 auto;

    .task-form {
      border-radius: 10px;
      background-color: rgba(230, 201, 173, 0.513);
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      #newtask-description {
        height: 80px;
      }
      label {
        margin: 5px;
      }

      .form-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        // button {
        //   width: 30%;
        //   height: 50px;
        //   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        // }
      }
      // button {
      //   margin: 0px;
      // }

      input,
      select,
      textarea {
        border-radius: 10px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 2px;
        padding: 10px;
      }
      textarea {
        max-width: 100%;
      }
    }
    input,
    select,
    textarea {
      border-radius: 10px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 2px;
      padding: 10px;
    }
    textarea {
      max-width: 100%;
    }
  }
}

/* Tasks Component */
.tasks {
  // background-image: url("../images/Image.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
  }

  margin: 20px;

  .todos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: aqua;
    width: 70%;
    &:nth-child(odd) {
      // background-color: aqua;
    }
  }

  .task-wrapper {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    div {
      margin-bottom: 10px;
    }
    // button {
    //   margin-top: 10px;
    // }
  }
  button,
  select {
    border-radius: 10px;
    min-width: 80px;
    // min-height: 20px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    display: inline-block;
  }
  button {
    margin: 10px;
  }
  select {
    width: 250px;
    height: 50px;
  }
}


/* HabitPage */

.habits-legend {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;

}

.habits {
  display:flex;
  flex-direction: column;
  margin-left:20px;
  border: #0c0c0c solid;
  min-height:85vh;
  width:90vw;
  justify-content: center;
  //overflow-x: auto;
  padding: 55px;
  transition: min-height 0.3s ease;

  .myHabits {
    width: 700px;
    height: 70px;
    margin-top: 10px;
    border-radius: 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;

    &.editMode {
      height:auto;
      transition: height 0.3 ease;

      .hidden-settings {
          display: flex;
          flex-direction: column; // Stack buttons vertically
          align-items: center; // Center buttons horizontally
          margin-top: 10px;
          opacity: 1; // Make the hidden settings visible
          transition: opacity 0.5s ease; // Smooth transition for opacity change
      
          button {
            margin: 5px;
          }
    }
  }

  .habitWrapper {
    margin-top: 10px;
    display:flex;
    

    .sorting-and-filtering {
        display: flex;
        margin-top: 20px;
        width: 600px;
        justify-content: space-evenly;
        align-items: center;
        
      }
    
      .sortingBtn {
        margin-left: 20px;
      }
  }
  
  .streakContainer button {
    border-radius: 50px;
    height:50px;
    width:50px;
    background-color: rgb(189, 178, 178, 0.40);
    border:none;

  }

  button {
    cursor: pointer;
  }

  .streak-counter {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      align-items: center;
    }
  }

 

  p {
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  
}

.habit-container {
  display: flex !important;
  flex-direction: row-reverse;
  margin-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newHabit {
  height: 300px;
  width: 400px;

  .new-form {
    display: flex !important;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;

    legend {
      text-align: center;
      font-size: 35px;
    }

    input {
      margin-top:15px;
      height:30px;
      margin-bottom:20px;
    }

    button {
      width: 120px;
      align-self: center;
      margin-top:20px;
    }

    .starting-streak {
      align-self: center;
      display:flex;
      align-items:center;
      justify-content: center;
      margin-bottom: 20px;

      input {
        border:none;
        text-align: center;
        font-size: 40px;
        width:50px;
      }

      button {
        border-radius: 50px;
          height: 50px;
          width: 50px;
          background-color: rgb(189, 178, 178, 0.40);
          border: none;
      }
    }
  }
  
  .radio-priority {
    display:flex;
    flex-direction: column;
  }

  .radio-priority label {
    display:flex;
    align-items: center;
  }

  .radio-priority input {
    margin-right:5px;
    margin-left:20px;
    height:15px;
  }
}

/* Media Query */
@media screen and (max-width: 380px) {
  .new-task .task-form {
    height: 150px;
  }

  .tasks h1 {
    padding-top: 0px;
  }
}}