/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

#root {
  background-color: var(--bg-100);
  height: 100vh;
  --primary-100: #990000; /* Dark red */
  --primary-200: #d1432b; /* Reddish brown */
  --primary-300: #ffa783; /* Light peach */
  /* Accent colors */
  --accent-100: #ff6600; /* Orange */
  --accent-200: #ffffa1; /* Light yellow */
  /* Text colors */
  --text-100: #ffffff; /* White */
  --text-200: #e0e0e0; /* Light gray */
  /* Background colors */
  --bg-100: #1a1a1a; /* Dark gray */
  --bg-200: #292929; /* Charcoal gray */
  --bg-300: #404040; /* Slate gray */
}

/* Home Page */
.homepage {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 100vh;
}
.homepage button {
  align-items: center;
  background-color: var(--accent-100);
  border-radius: 4px;
  border: none;
  box-shadow: #1a1a1a 0 2px 4px, #1a1a1a 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--bg-200);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  margin: 10px;
}
.homepage button:focus {
  box-shadow: var(--bg-300) 0 0 0 1.5px inset, var(--accent-200) 0 2px 4px;
}
.homepage button:hover {
  box-shadow: var(--accent-200) 0 4px 8px, var(--accent-200) 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.homepage button:active {
  box-shadow: var(--accent-200) 0 4px 8px, var(--accent-200) 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  transform: translateY(2px);
}
.homepage button:hover {
  background-color: #990000;
}
.homepage button a {
  text-decoration: none;
  color: #fff;
}

.tasks-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  width: 30%;
  height: 80%;
}

.habits-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  height: 80%;
  width: 30%;
}
.habits-homepage ul {
  list-style: none;
}

.friends-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  height: 80%;
  width: 30%;
}
.friends-homepage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.friends-homepage ul {
  list-style: none;
}

.friends {
  margin: 0 auto;
  padding: 20px;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.friends h1 {
  text-align: center;
  color: #fff;
}
.friends button {
  align-items: center;
  background-color: var(--accent-100);
  border-radius: 4px;
  border: none;
  box-shadow: #1a1a1a 0 2px 4px, #1a1a1a 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--bg-200);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  margin: 10px;
}
.friends button:focus {
  box-shadow: var(--bg-300) 0 0 0 1.5px inset, var(--accent-200) 0 2px 4px;
}
.friends button:hover {
  box-shadow: var(--accent-200) 0 4px 8px, var(--accent-200) 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.friends button:active {
  box-shadow: var(--accent-200) 0 4px 8px, var(--accent-200) 0 7px 13px -3px, var(--bg-300) 0 -3px 0 inset;
  transform: translateY(2px);
}
.friends button:hover {
  background-color: #990000;
}

/*Info friends component*/
.infoFriend {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
}
.infoFriend:hover {
  background-color: #990000;
}
.infoFriend div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.infoFriend img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.infoFriend h3 {
  font-size: 18px;
}
.infoFriend ul {
  list-style: none;
}
.infoFriend ul li {
  text-align: center;
  margin-bottom: 5px;
}

/*Filter friends component*/
.filterFriends {
  border: 2px solid #292929;
  background-color: #404040;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.filterFriends h2 {
  font-size: 20px;
}
.filterFriends label {
  font-size: 18px;
  margin-bottom: 5px;
}
.filterFriends button {
  border: 2px solid #292929;
  background-color: #1a1a1a;
}
.filterFriends button:hover {
  background-color: #990000;
}
.filterFriends select {
  border: 1px solid var(--accent-200);
}
.filterFriends select,
.filterFriends input[type=number] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #1a1a1a;
  color: #fff;
}
.filterFriends select:hover,
.filterFriends [type=number]:hover {
  background-color: #990000;
}

.sortFriends {
  text-align: center;
  margin-bottom: 20px;
}
.sortFriends button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #e6eaef;
  color: #0c0c0c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sortFriends button:hover {
  background-color: #990000;
}/*# sourceMappingURL=style.css.map */