/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "arial","Architects Daughter", cursive;
}

/* Home Page */
.homepage {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffff;
  height: 100vh;

  button {
    width: 100px;
    height: 30px;
    border: 2px solid #292929;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #ffff;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #990000;
  }

  button a {
    text-decoration: none;
    color: #fff;
  }
}

.tasks-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  width: 30%;
  height: 80%;
}

.habits-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  height: 80%;
  width: 30%;

  ul {
    list-style: none;
  }
}

.friends-homepage {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  height: 80%;
  width: 30%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  ul {
    list-style: none;
  }
}

//Friends Component
.friends {
  margin: 0 auto;
  padding: 20px;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    color: #fff;
  }

  button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #404040;
    color: #ffff;
    border: 2px solid #292929;
    border-radius: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #990000;
  }
}
/*Info friends component*/
.infoFriend {
  border: 2px solid #292929;
  background-color: #404040;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;

  :hover {
    background-color: #990000;
  }

  div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

  h3 {
    font-size: 18px;
  }

  ul {
    list-style: none;
  }

  ul li {
    text-align: center;
    margin-bottom: 5px;
  }
}

/*Filter friends component*/
.filterFriends {
  border: 2px solid #292929;
  background-color: #404040;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  h2 {
    font-size: 20px;
  }

  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  button {
    border: 2px solid #292929;
    background-color: #1a1a1a;
  }

  button:hover {
    background-color: #990000;
  }

  select,
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #fff;
  }

  select:hover,
  input[type="number"]:hover {
    background-color: #990000;
  }
}

.sortFriends {
  text-align: center;
  margin-bottom: 20px;

  button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #e6eaef;
    color: #0c0c0c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #990000;
  }
}
/* NewTask Component */
.new-task {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
  }

  width: 30%;
  max-width: 1000px;
  margin: 0 auto;

  .task-form {
    border-radius: 10px;
    background-color: rgba(230, 201, 173, 0.513);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    #newtask-description {
      height: 80px;
    }
    label {
      margin: 5px;
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      // button {
      //   width: 30%;
      //   height: 50px;
      //   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      // }
    }
    // button {
    //   margin: 0px;
    // }

    input,
    select,
    textarea {
      border-radius: 10px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 2px;
      padding: 10px;
    }
    textarea {
      max-width: 100%;
    }
  }
}

/* Tasks Component */
.tasks {
  // background-image: url("../images/Image.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
  }

  margin: 20px;

  .todos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: aqua;
    width: 70%;
    &:nth-child(odd) {
      // background-color: aqua;
    }
  }

  .task-wrapper {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    div {
      margin-bottom: 10px;
    }
    // button {
    //   margin-top: 10px;
    // }
  }
  button,
  select {
    border-radius: 10px;
    min-width: 80px;
    // min-height: 20px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    display: inline-block;
  }
  button {
    margin: 10px;
  }
  select {
    width: 250px;
    height: 50px;
  }
}

/* Media Query */
@media screen and (max-width: 380px) {
  .new-task .task-form {
    height: 150px;
  }

  .tasks h1 {
    padding-top: 0px;
    input,
    select,
    textarea {
      border-radius: 10px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 2px;
      padding: 10px;
    }
    textarea {
      max-width: 100%;
    }
  }
}

/* Tasks Component */
.tasks {
  // background-image: url("../images/Image.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Architects Daughter", cursive;
  }

  margin: 20px;

  .todos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: aqua;
    width: 70%;
    &:nth-child(odd) {
      // background-color: aqua;
    }
  }

  .task-wrapper {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    div {
      margin-bottom: 10px;
    }
    // button {
    //   margin-top: 10px;
    // }
  }
  button,
  select {
    border-radius: 10px;
    min-width: 80px;
    // min-height: 20px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    display: inline-block;
  }
  button {
    margin: 10px;
  }
  select {
    width: 250px;
    height: 50px;
  }
}


/* HabitPage */

.habits-legend {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;

}

.habits {
  display:flex;
  flex-direction: column;
  margin-left:20px;
  border: #0c0c0c solid;
  min-height:85vh;
  width:90vw;
  justify-content: center;
  //overflow-x: auto;
  padding: 55px;
  transition: min-height 0.3s ease;

  .myHabits {
    cursor: pointer;
    position:relative;
    width: 700px;
    height: 70px;
    margin-top: 10px;
    border-radius: 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
    
      &:hover {
          background-color: transparent;
      
          &.low {
            background-color: green;
          }
      
          &.mid {
            background-color: yellow;
          }
      
          &.high {
            background-color: red;
          }
        }

    .edit-btn {
      position:absolute;
      bottom:6px;
      right: 10px;
      border-radius: 5px;
      background-color: white;
      border-style: none;
      padding:4px;
      &:hover {
        background-color: black;
        color:white;
      }
    }

    .priority-box {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 2px 4px;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      border-radius: 3px;

      &.green {
          background-color: green;
          box-shadow: 0 0 10px rgba(green, 0.8);
        }
      
        &.yellow {
          background-color: yellow;
          box-shadow: 0 0 10px rgba(yellow, 0.8);
        }
      
        &.red {
          background-color: red;
          box-shadow: 0 0 10px rgba(red, 0.8);
        }
    }

    &.editMode {
      height:auto;
      transition: height 0.3 ease;
      cursor: default;

      .hidden-settings {
          display: flex;
          flex-direction: column; 
          align-items: center;
          margin-top: 10px;
          margin-bottom:10px;
          opacity: 1; 
          transition: opacity 0.5s ease; 
          
          .hidden-buttons {
            display:flex;
            flex-direction:row;
            margin-bottom: 10px;
          }
      
          button {
            margin: 5px;
          }

          select {
            width:150px;
            height:30px;
            border-radius: 5px;
            font-size: 15px;
          }
    }
  }

  .habitWrapper {
    margin-top: 10px;
    display:flex;
    

    .sorting-and-filtering {
        display: flex;
        margin-top: 20px;
        width: 600px;
        justify-content: space-evenly;
        align-items: center;
        
      }
    
      .sortingBtn {
        margin-left: 20px;
      }
  }
  
  .streakContainer button {
    border-radius: 50px;
    height:50px;
    width:50px;
    background-color: rgb(189, 178, 178, 0.40);
    border:none;

  }

  button {
    cursor: pointer;
  }

  .streak-counter {
    font-weight: 600;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      align-items: center;
    }
  }

 

  p {
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  
}

.habit-container {
  display: flex !important;
  flex-direction: row-reverse;
  margin-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newHabit {
  height: 300px;
  width: 400px;

  .new-form {
    display: flex !important;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;

    legend {
      text-align: center;
      font-size: 35px;
    }

    input {
      margin-top:15px;
      height:30px;
      margin-bottom:20px;
    }

    button {
      width: 120px;
      align-self: center;
      margin-top:20px;
      cursor: pointer;
    }

    .starting-streak {
      align-self: center;
      display:flex;
      align-items:center;
      justify-content: center;
      margin-bottom: 20px;

      input {
        border:none;
        text-align: center;
        font-size: 40px;
        width:50px;
      }

      button {
        border-radius: 50px;
          height: 50px;
          width: 50px;
          background-color: rgb(189, 178, 178, 0.40);
          border: none;
          font-size:25px;
          font-weight: 600;
      }
    }
  }
  
  .radio-priority {
    display:flex;
    flex-direction: column;
  }

  .radio-priority label {
    display:flex;
    align-items: center;
  }

  .radio-priority input {
    margin-right:5px;
    margin-left:20px;
    height:15px;
  }
}

/* Media Query */
@media screen and (max-width: 380px) {
  .new-task .task-form {
    height: 150px;
  }

  .tasks h1 {
    padding-top: 0px;
  }
}}